<h1>Create an Recipe</h1>

<form action="/recipes" method="post">
    <label>Title</name>
    <input type="text" name="name">

    <label>Content</label>
    <input type="text" name="ingredients">

    <label>Cook Time</label>
    <input type="text" name="cook_time">

    <input type="submit" value="Create Recipe">
</form>