<h3>Let's create a recipe: <h3>

<form action="/recipes" method="post">

    <label> Name: </label>
    <input type="text" id="name" name="name" />

<br/>

    <label> Ingredients: </label>
    <input type="text" id="ingredients" name="ingredients" />

<br/>

    <label> Cook_time: </label>
    <input type="text" id="cook_time" name="cook_time" />


    <input type="submit" value="Create recipe">
</form>