<form action = '/recipes' method = 'post'>
    <input id = "name" name = "name" type = "text">
    <input id = "ingredients" name = "ingredients" type = "text">
    <input id = "cook_time" name = "cook_time" type = "text">
    <input type = "submit">
</form>

